<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Editar Tarea</h1>
    </header>
         <form action="/tareas/editar" method="post">
            <div>
                <label for="nombre">Nombre de la Tarea:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div>
                <label for="contenido">Contenido:</label>
                <textarea id="contenido" name="contenido" required></textarea>
            </div>
            <div>
                <label for="comentarios">Comentarios:</label>
                <textarea id="comentarios" name="comentarios"></textarea>
            </div>
            <div>
                
            <form th:action="@{'/guardar/'+ ${entry.key}}" method="post" style="display: inline;">
                <button onclick="location.href='main.html'" type="submit">Guardar Cambios</button>
            </form>
            </div>
        </form>
</body>
</html>